<div style="border:solid green 2px; padding: 20px">
<b>Привет, Алексей!</b>

Меня зовут Алан, и я буду проверять твой проект. Предлагаю общаться на «ты» :) Но если это не удобно - дай знать, и мы перейдем на "вы". 

Моя основная цель — не указать на совершенные тобою ошибки, а поделиться своим опытом и помочь тебе стать аналитиком данных. Ты уже проделал большую работу над проектом, но давай сделаем его еще лучше. Ниже ты найдешь мои комментарии - пожалуйста, не перемещай, не изменяй и не удаляй их. 
    

<div class="alert alert-info"> <b>Комментарий студента:</b> Алан, привет! Очень рад знакомству! Поддерживаю твое предложение общаться на "ты" :) По поводу комментариев все уяснил и исправил с учетом твоих замечаний, а именно:
    <br>1. Перенс импорт библиотек в первую ячейку
    <br>2. Переписал вводную часть с учетом ссылок 
    <br>3. В кратце добавил Общий вывод пройденными этапами.
    <br>
    <br>Надеюсь, что ничего не пропустил! 
    <br>Спасибо за комментарии, если будут еще недочеты, сразу же исправлю!

</div>
    
<div class="alert alert-success">

**Комментарий ревьюера v2:** Взаимно! Сейчас будем смотреть :)
</div>
    
    
Я буду использовать цветовую разметку:

<div class="alert alert-danger">
<b>Комментарий ревьюера:</b> Так выделены самые важные замечания. Без их отработки проект не будет прният. </div>

<div class="alert alert-warning">
<b>Комментарий ревьюера:</b> Так выделены небольшие замечания, либо рекоммендации к улучшению. Одна-два таких замечания в проекте допустимы, но если их будет больше - тебе будет необходимо внести исправления. Это как тестовое задание при приеме на работу: очень много мелких ошибок могут стать причиной отказа кандидату. 

</div>

<div class="alert alert-success">
<b>Комментарий ревьюера:</b> Так я выделяю все остальные комментарии.</div>

Давай работать над проектом в диалоге: если ты что-то меняешь в проекте или отвечаешь на мои комменатри — пиши об этом. Мне будет легче отследить изменения, если ты выделишь свои комментарии:
<div class="alert alert-info"> <b>Комментарий студента:</b> Например, вот так.</div>

Всё это поможет выполнить повторную проверку твоего проекта оперативнее.

## Исследование надёжности заёмщиков

<div class="alert alert-info">В данном исследовании, нам необходимо проанализировать данные о платежеспособности клиентов, предоставленные кредитным отделом банка. Так же, нам известно, что результаты исследования будут учтены при построении модели "кредитного скоринга", поэтому нам необходимо качественно обработать данные и категоризировать их таким образом, чтобы они позволили нам снизить вероятность выдачи кредита потенциально неплатежеспособным людям.</div>

Исходя из вышеперечисленного, наше исследование будет включать в себя несколько этапов:

I Этап. Изучени общей ифнормации.

<a href='#1'> 1. Анализ полученных данных, загрузка библиотек для дальнейшей работы с Data Frame. </a>

II Этап. Предобработка данных.

<a href='#2'>1. Поиск и обработка пропущенных данных (Nan, Null).</a><br>
<a href='#3'>2. Замена вещественных типов даных на целочисленые.</a><br>
<a href='#4'>3. Обработка дубликатов, нахождение и исправление аномалий и ошибок в значениях.</a>

III Этап. Категоризация данных

<a href='#5'>1. Лемматизация по целям получения кредита.</a><br>
<a href='#6'>2. Категоризация данных по признакам.</a>

IV Этап. Выводы

<a href='#7'>1. Анализ обработанных данных через сводные таблицы и ответы на вопросы.</a><br>
<a href='#8'>3. Формулировка общего вывода.</a>

<div class="alert alert-danger">

**Комментарий ревьюера:** 
Немного про оформление:) Ты просто скопировал задание себе в тетрадку. В некоторых случаях это тоже выход:) Но я бы порекомендовал тебе составлять план, похожий больше на книжное содержание.
Например:

### Определение чегототам
_____
##### В данном исследовании представлены несколько таблиц с блаблабла
______

###### Данное исследование разделим на несколько частей.

##### Часть 1. Изучение общей информации:
* [1. Изученеие файлов с данными, получение общей информации, загрузка библиотек.](#1-bullet)
* [2. Нахождение и ликвидация пропусков.](#2-bullet)

##### Часть 2. Подготовка данных:
* [1. Приведение данных к нужным типам.](#3-bullet)
* [2. Нахождение и исправление аномалий и ошибок.](#4-bullet)

и т.д

Старайся выполнять свой проект в порядке, прописанном в твоем плане. Да, такое оформление займет больше времени, но позволит тебе не путаться в будущем:)
_________________

Обрати внимание, что пункты в частях у меня в виде ссылок. Это очень удобно, когда нужно переходить по разным частям проекта.
Вот тут почитай, как сделать <a href="https://sebastianraschka.com/Articles/2014_ipython_internal_links.html">кликабельные разделы</a>

**Почему это важно?** Когда ты будешь в будущем выполнять тестовые задания, просто скопировав присланную тебе задачу и не составив плана, ты можешь смутить будущего работодателя. А грамотно сконфигурированный план покажет тебя как ответсвенного и усидчивого специалиста. И, просто поверь мне, с расписанием легче:)

<a id='1'></a>

### Шаг 1. Откройте файл с данными и изучите общую информацию.

In [3]:
import pandas as pd
from pymystem3 import Mystem
m = Mystem()  


df = pd.read_csv('/datasets/data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

<div class="alert alert-warning">

**Комментарий ревьюера:** Библиотеки, как правило, лучше импортировать в отдельной ячейке для ясности и удобства.
</div>

Названия столбцов выводятся корректно, значит здесь можно ничего не исправлять. Далее есть две проблемы, которые нужно решить на первом этапе: обработать пропуски, затем преобразовать float64 в int64 для корректности отображения данных.

<div class="alert alert-info"><b>Комментарий студента:</b> Сюда я перенс импорт библиотеки для лемматизации, чтобы все библиотеки были в отдельной ячейке.</div>

<div class="alert alert-warning">

**Комментарий ревьюера:** Все делаешь верно. На данном этапе можно было также добавить проверку на дубликаты.
</div>

### Шаг 2. Предобработка данных

<a id='2'></a>

### Обработка пропусков

In [4]:
total_income_mean = df['total_income'].mean()
df['total_income'] = df['total_income'].fillna(value=total_income_mean)

#zero = df['days_employed'][df['days_employed']> 0] #сортируем значения days_mployed >0
#df['days_employed'] = (df['days_employed']/24)/365   #переводим рабочие часы в дни
def days_true(row):
    age = row['dob_years']
    days = row['days_employed']
    if 18 <= age <= 65:
        days = ((age - 18) * 248) # беру трудоспособных клиентов, вычесть 18 лет и умножить на среднее число рабочих дней в году 248
    return days
 
df['days_employed'] = df.apply(days_true, axis = 1)

days_employed_median = df['days_employed'].median() 
df['days_employed'] = df['days_employed'].fillna(value=days_employed_median)
df['days_employed'] = df['days_employed'].apply(abs) # переводим отрицательные значения в положительные
df.isnull().sum()



#df['dob_years'] = df.sort_values(by='dob_years', ascending=True) #сортируем столбец возраст, чтобы соотнести стаж и возраст
#df['days_employed']
#df.info()
#df['zero'] = df['days_employed'][df['days_employed']> 0] #сортируем значения days_mployed >0

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

В данном случае мы видим, что у нас пропуски в столбцах: days_employed и total_income. Сначала проверяем формат пропусков и самих данных в столбце "days_employed". Здесь мы видим пропуски NaN, положительные и отрицательные значения. Причиной отображения таких данных могут явяться сбои в базе данных или некорректное заполнение таблиц. В нашем случае у нас нет возможности обратиться к заказчику, который предоставил такие данные, и уточнить у него прокомментировать ситуацию. Поэтому мы выдвигаем гипотезу о том, что значения days_employed указаны в часах, поэтому мы переводим их в дни и в дальнейшем работаем с такими данными.
Если почитать все условия выполнения данной задачи, то станет понятно, что колонка "days_employed" особого значения не имеет, поэтому высчитаем медиану по столбцам и заменим ей пропущенные значения, отрицательные значения заменим положительными. В колонке "total_income" значения представлены в понятном виде, поэтому пропущенные мы заменяем средним арифметическим, и дальше нам нужно будет их первести в числовой тип данных. 
Таким образом, мы избавились от пропусков.

<a id='3'></a>

### Замена типа данных

In [5]:
df[['days_employed', 'total_income']] = df[['days_employed', 'total_income']].astype('int')
#df.isnull().sum()
#df.info()

# уточняем сколько раз встречается каждый тип обращений кол-во детей
df['children'] = df['children'].apply(abs) # gthtdjlbv -1 ребенка в таблице в положителное значение, чтобы не терять данные
df['children'] = df['children'].replace(20, 2)#теперь заменяем значение 20 на 2, т.к. это яваня аномалия
df['children'].value_counts()

#df[df['gender'] == 'XNA'] #единственное значение в столбце, не повлияет на данные

0    14149
1     4865
2     2131
3      330
4       41
5        9
Name: children, dtype: int64

В данной таблице нам необходимо заменить типы данных в стобцах "days_employed" и "total_income" на int64. В методе to_numeric нужно вводить больше параметров, поэтому я взял astype(), потому что он проще.
Также мы заменили значения в стобце children на корректные для получения корректных данных.

<a id='4'></a>

### Обработка дубликатов

In [6]:
#df.duplicated().sum()# получение суммарного количества дубликатов в таблице df
df['education'] = df['education'].str.lower()
df = df.drop_duplicates().reset_index(drop=True)# удаление всех дубликатов из таблицы df специальным методом
df.duplicated().sum()

0

Сначала находим в таблице все имеющиеся дубликаты. Их кол-во равно 54. Затем удаляем все найденные дубликаты в таблице методом drop_duplicates() и в дополнение применяем етод reset_index(drop=True) с аргументом True, чтобы упорядочить индексацию в очищенной таблице. Так же мы привели к нижнему регистру значения в столбце 'education' для дальнейшего удобства сортировки.

<a id='5'></a>

### Лемматизация

In [7]:
# Разбиваем purpose на категории по леммам: 'Жилье/недвижимость', 'автомобиль', 'образование', 'свадьба'
def lemming(row):
    lema = ' '.join(m.lemmatize(row))
        
    if 'автом' in lema:
        return 'автомобиль'
    if 'свадьб' in lema:
        return 'свадьба'
    if 'образов' in lema: 
        return 'образование'
    if 'недвиж' or 'жиль' in lema:
        return 'недвижимость'
    else:
        return purpose
        
df['purpose_lem'] = df['purpose'].apply(lemming)
df

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,purpose_lem
0,1,5952,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875,покупка жилья,недвижимость
1,1,4464,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080,приобретение автомобиля,автомобиль
2,0,3720,33,среднее,1,женат / замужем,0,M,сотрудник,0,145885,покупка жилья,недвижимость
3,3,3472,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628,дополнительное образование,образование
4,0,8680,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616,сыграть свадьбу,свадьба
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21449,1,6200,43,среднее,1,гражданский брак,1,F,компаньон,0,224791,операции с жильем,недвижимость
21450,0,343937,67,среднее,1,женат / замужем,0,F,пенсионер,0,155999,сделка с автомобилем,автомобиль
21451,1,4960,38,среднее,1,гражданский брак,1,M,сотрудник,1,89672,недвижимость,недвижимость
21452,3,4960,38,среднее,1,женат / замужем,0,M,сотрудник,1,244093,на покупку своего автомобиля,автомобиль
21453,2,5456,40,среднее,1,женат / замужем,0,F,сотрудник,0,82047,на покупку автомобиля,автомобиль

Здесь мы лемматизмруем цели кредитов и приводим их к типу строк методом join(), т.к. со строками работать проще, чем со списками лемм.
После этого выделяем уникальные цели кредитов. Здесь я объединил цели жилье и недвижимость и свел их в общую категорию - недвижимость, поскольку это одна и так же категория, просто формулирвка разная. Делим цели на большие наиболее подходящие группы (недвижимость, автомобиль, образование и свадьба). 
Для этого мы пишем функцию lemming, состоящую из нескольких if, которая ,берет на вход цель кредита и возвращать категорию. Далее мы добавляем к этой функции в метод apply и получаем столбец purpose_lem.

<a id='6'></a>

### Категоризация данных

In [8]:
# категоризируем данные по столбцу children
def children_count(row):
    if row == 0:
        return 'без детей'
    if row == 1:
        return 'один ребенок'
    if row == 2:
        return 'двое детей'
    else:
        return 'многодетные'
            
df['children_count'] = df['children'].apply(children_count)

# категоризируем данные по столбцу total_income

df['total_income'].mean() #156043.5

def total_income_level(row):
    if row < 130000:
        return 'ниже среднего'
    if row >= 130000 and row <= 160000: #для среднего значения возьмем диапазон от 140000 до 160000
        return 'средний доход'
    if row > 160000 and row < 250000: 
        return 'выше среднего'
    if row >= 250000:
        return 'высокий доход'


            
df['total_income_level'] = df['total_income'].apply(total_income_level)
df['total_income_level'].value_counts()
#s = pd.Series(df['total_income'])
#pd.qcut(s, 4, labels = ['Ниже среднего', 'Средний доход', 'Выше среднего', 'Высокий доход']).value_counts()

ниже среднего    7942
выше среднего    7509
средний доход    3191
высокий доход    2812
Name: total_income_level, dtype: int64

Вывод

Категоризирую данные по столбцу children на 3 группы: нет детей, один ребенок, двое детей, многодетные. Поскольку в этих группах мы имеем досаточно значимое кол-во данных.
Далее м категоризируем по столбцу total_income и делим всех по уровню дохода на 4 группы: 'Ниже среднего', 'Средний доход', 'Выше среднего', 'Высокий доход'. В качестве среднего уровня дохода возьмем данные Росстат за 2020 год, где указан среднй уровень зп на сегодняшний день - 46674. Но данный вариант не подходит, поскольку у нас получается очень мало людей у которых доход ниже среднегои с такими данныммы не получим достовернгоо результата. Поэтому теперь мы возьмем медиану по данному столбцу и будем отталкиваться от нее в категоризации данных по таблице. Так как мы делим данные на 4 группы, то нам необходимо в качестве среднего значения расширитть диапазон от 130 000 до 160 000 - таким образом, мы получаем данные, с которыми можно работать.

<div class="alert alert-success">

**Комментарий ревьюера:** Все делаешь верно. 
</div>

<a id='7'></a>

### Шаг 3. Ответьте на вопросы

- Есть ли зависимость между наличием детей и возвратом кредита в срок?

In [9]:
def pivot(data, index):
 
    pivot = data.pivot_table(index = index, values = 'debt', aggfunc = ['count', 'sum', 'mean']).reset_index()
    pivot.columns = [index, 'Кол-во клиентов', 'Кол-во должников', '% невозврата']
    display(pivot.sort_values('% невозврата', ascending = False))
    
    
pivot(df, 'children_count')

  children_count  Кол-во клиентов  Кол-во должников  % невозврата
1     двое детей             2128               202      0.094925
3   один ребенок             4855               445      0.091658
2    многодетные              380                31      0.081579
0      без детей            14091              1063      0.075438

### Вывод

Созадем функцию, которая получает таблицу и столбец, а возвращает сводную таблицу на основе агрегированных данных по кол-ву детей и получаем ависимость между наличием детей и возвратом кредита в срок. Из данных мы видим, что на первоим месте среди задолжников люди, у кого двое детей, на втором месте люди с одним ребенком, на третьем многодетные и самый низкий показатель у тех, кто не имеет детей. Скорее всего это связано с тем, что с детьми не получается иметь стабильный доход, который позволит оплачивать кредит в срок, т.к. на содержание детей уходит большое кол-во средтсв.

- Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [8]:
def pivot(data, index):
 
    pivot = data.pivot_table(index = index, values = 'debt', aggfunc = ['count', 'sum', 'mean']).reset_index()
    pivot.columns = [index, 'Кол-во клиентов', 'Кол-во должников', '% невозврата']
    display(pivot.sort_values('% невозврата', ascending = False))
    
    
pivot(df, 'family_status')

           family_status  Кол-во клиентов  Кол-во должников  % невозврата
0  Не женат / не замужем             2810               274      0.097509
3       гражданский брак             4151               388      0.093471
4        женат / замужем            12339               931      0.075452
1              в разводе             1195                85      0.071130
2         вдовец / вдова              959                63      0.065693

### Вывод

В данном столбце данные изначально сгруппированы по 5 группам, поэтому мы применяем функцию pivot() и получаем все необходимые для расчетов значения. В данном случае, на первом месте среди должников находится группа людей в статусе "не женат/не замужем", на втором месте находятся люди в "гражданском браке" и на третьем месте нахожится группа "в браке". Таким образом мы можем сделать вывод о том, что люди не имеющие законодательно оформленных отношений безответсвенно относятся к выплате долгов, что скорее всего связано с отсутсвием чувства ответсвенности к таким вещам.

In [10]:
def pivot(data, index):
 
    pivot = data.pivot_table(index = index, values = 'debt', aggfunc = ['count', 'sum', 'mean']).reset_index()
    pivot.columns = [index, 'Кол-во клиентов', 'Кол-во должников', '% невозврата']
    display(pivot.sort_values('% невозврата', ascending = False))

    
pivot(df, 'total_income_level')

  total_income_level  Кол-во клиентов  Кол-во должников  % невозврата
3      средний доход             3191               287      0.089940
1      выше среднего             7509               614      0.081769
2      ниже среднего             7942               646      0.081340
0      высокий доход             2812               194      0.068990

В данном случае данные сгруппированы по 4 уровням доходности. На первом месте среди должников у нас находятся люди со средним уровнем дохода, на втором месте люди с доходом выше среднего. затем ниже среднего и самые ответсвенные - люди с высоким доходом. Высокая задолженность у людей со средним доходом вероятнее всего связана с нестабильным доходом, поскольку ранее я указывал диапазон по среднему доходу от 130 до 150 тысяч, видимо это связано с нестабильностью постоянного дохода у людей из этой группы, что приводит к задолженностям. Если сравнивать с людьми, у кого доход ниже среднего, то и показатель по задолженностям у них ниже - это связано с небольшими но стабильными заработными платами и более высокий уровень ответсвенности у данных людей, так как и риски у них больше в случае задолженности.

- Как разные цели кредита влияют на его возврат в срок?

In [11]:
def pivot(data, index):
 
    pivot = data.pivot_table(index = index, values = 'debt', aggfunc = ['count', 'sum', 'mean']).reset_index()
    pivot.columns = [index, 'Кол-во клиентов', 'Кол-во должников', '% невозврата']
    display(pivot.sort_values('% невозврата', ascending = False))
    
pivot(df, 'purpose_lem')

    purpose_lem  Кол-во клиентов  Кол-во должников  % невозврата
0    автомобиль             4306               403      0.093590
2   образование             4013               370      0.092200
3       свадьба             2324               186      0.080034
1  недвижимость            10811               782      0.072334

### Вывод

Данные по столбцу purpose были разделены на 4 группы. Из сводной таблицы мы видим, что на первм месте по задолженности находится группа людей, берущие кредит на покупку "автомобиля", это не удивительно, поскольку покупка авто в нашец стране очень трепетный вопрос, который чаще всего закакнчивается задолженностю, поскольку большинство людей могут позволить себе только б/у и купив такое средство в ненадлежащем состоянии, люди влезают в долги и не могут вернуть деньги за авто и погасить задолженность в срок. На втором месте находится группа людей с целью "образование", в данном случае образовательные услуги стоят дорого, а совмещать учеу и работу не всегда получается доступным, либо если это родители детей, то здеь так же встает вопрос о материальном положении. На третьем месте цель "свадьба", здесь чаще всего рассчитывают на то, что свадьба окупится, но согласно показателям - это не так часто происходит, так же велик % разводов, что так же сказывается на задолженности. И корайняя цель -недвижимость. Здесь самый низкий уровень задолженности, поскольку люди подходят к таким вещам осознанно и ответсвенность очень высока.

<div class="alert alert-success">

**Комментарий ревьюера:** Хорошо владеешь необходимыми инструментами и все делаешь аккуратно и красиво! 
</div>

<a id='8'></a>

### Шаг 4. Общий вывод

<div class="alert alert-info">После тщательной обработки полученных данных, применив меотоды обработки дубликатов и замены некорректных значений - мы получили таблицу с корректными данными. Далее, нам необходимо было лемматизировать столбец с целями, поскольку это считается основным мотивом приобретения кредита. После лемматизации мы приступили к группировке данных, что помогло нам подробнеее взглянуть на имеющиеся данные и вывинуть предвариетльные гипотезы об уровнях риска клиентов. И на заключительном этапе, мы получили из сводных таблиц значимые данные, которые позволили нам сформировать группы риска.</div>

Таким образом, исходя из нашего анализа данных мы можем выделить критерии риска, т.е. людей подходящих под описание, которым не рекомендуем выдвать кредит:

1. Первая группа риска "Критический". Люди имеющие доход от 130 до 150 тысяч, берущие кредит на машину, не состоящие в браке или холосы, имеющие при этом 1 или 2 детей. Мы Не рекомендуем выдавать кредит людям, имеющим все перечисленне критерии.

2. Вторая группа "Высокий". Люди, имеющие доход ниже среднего (менее 130 тысяч) или средний 130 до 150 тысяч, берущие кредит на образование или на свадьбу, состоящие в гражданском браке или холосты, имеющие при этом 1 или 2 детей. Данная группа людей входит в группу высокого риска и с ними могут возникнуть проблемы по задолженностям.

3. Третья группа "Средние риски". Сюда входят люди, берущие кредит на недвижимость или свадьбу, имеющие высокий доход или выше среднего и находящиеся в статусе разведенных или вдова/вдовец, при этом могут иметь 2 и более детей или быть бездетными.

4. Четвертая группа "Минимальные риски". И крайняя группа, которая самая благоприятная, исходя из данных - это люди, берущие кредит на недвижимость, имеющие высокий доход, при этом находящиеся в стаусе вдовы или вдовца и не имеющие детей, либо имеющие 2 и более детй.

Заключаем, что исходя из вышеперечисленных критериев, мы можем снизить вероятность выдачи кредита людям, которые в полседствии могут попасть в список должников.

<div class="alert alert-danger">

**Комментарий ревьюера:** Отличный вывод у тебя получился, правда, с различными группами риска - все как надо. Попробуй также добавить краткий перечень выполненных шагов в исследовании.
</div>

<div class="alert alert-danger">

**Вывод:** Ты проделал большую работу и у тебя получился близкий к идеалу проект, давай доведем его до совершенства, обратив внимание на:
* Оформление описания проекта
* Расширение вывода

Это небольшие поправки и я уверен, ты справишься с ними легко.
</div>

<div class="alert alert-success">

**Вывод v2:** Спасибо тебе, что учел мои комментарии! С радостью сообщаю тебе о принятии твоего проекта и желаю тебе дальнейших успехов! :)
</div>

### Чек-лист готовности проекта

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.

- [x]  открыт файл;
- [ ]  файл изучен;
- [ ]  определены пропущенные значения;
- [ ]  заполнены пропущенные значения;
- [ ]  есть пояснение, какие пропущенные значения обнаружены;
- [ ]  описаны возможные причины появления пропусков в данных;
- [ ]  объяснено, по какому принципу заполнены пропуски;
- [ ]  заменен вещественный тип данных на целочисленный;
- [ ]  есть пояснение, какой метод используется для изменения типа данных и почему;
- [ ]  удалены дубликаты;
- [ ]  есть пояснение, какой метод используется для поиска и удаления дубликатов;
- [ ]  описаны возможные причины появления дубликатов в данных;
- [ ]  выделены леммы в значениях столбца с целями получения кредита;
- [ ]  описан процесс лемматизации;
- [ ]  данные категоризированы;
- [ ]  есть объяснение принципа категоризации данных;
- [ ]  есть ответ на вопрос: "Есть ли зависимость между наличием детей и возвратом кредита в срок?";
- [ ]  есть ответ на вопрос: "Есть ли зависимость между семейным положением и возвратом кредита в срок?";
- [ ]  есть ответ на вопрос: "Есть ли зависимость между уровнем дохода и возвратом кредита в срок?";
- [ ]  есть ответ на вопрос: "Как разные цели кредита влияют на его возврат в срок?";
- [ ]  в каждом этапе есть выводы;
- [ ]  есть общий вывод.